.card{
  display: flex;
  flex-direction: column;
  width:100%;
  height: auto;
  border-bottom: solid 30px $platinum;
  
  
  padding: 0px;
  
  
  img{
    
    height: 400px;
    flex-shrink: 0;
    border: solid 0px black;
   

    
  }
   
  h2{
    font-family: "NeueMetanaNext", system-ui;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    color:#242423ff;
    text-align: start;
    @include respond($breakpoint-sm) {
      font-size: 18px;
    }
  }
  h3{
    font-family: "NeueMetanaNext", system-ui;
    font-weight: 400;
    padding-left: 10px;
    color:#242423ff;
    font-size: 18px;
    
    text-align: start;
    @include respond($breakpoint-sm) {
      font-size: 16px;
    }
  }
  P{
    font-family: "NeueMetanaNext", system-ui;
    font-weight: 300;
    padding-left: 10px;
    color:#242423ff;
    font-size: 14px;
   
    text-align: start;
    @include respond($breakpoint-sm) {
      font-size: 14px;
    }
  }
  @include respond($breakpoint-mobile-l) {
    border-bottom: 12px $platinum solid;
  }
}

.card-inner{
  display: flex;
  padding: 10px;
  gap: 20px;
  border: solid 0px white;
  margin-top: 20px;
  animation:  fadeIn 1.5s ease-in-out;
  overflow-x: auto;     /* scroll en eje X */
  overflow-y: hidden;   /* ocultar vertical */
  scroll-behavior: smooth;
  border: solid 0px black;

  /* ocultar scrollbar (opcional) */
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */

  

   

  
 
}

.card::-webkit-scrollbar{
  display: none;
}


.card-text{
  width:650px;
  height: 320px;
  padding: 0px;
  overflow-y: scroll;
  position: relative;
  flex-shrink: 0;
  
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: start;
  
  
 
  border: solid 0px black;
  
  padding-top: 20px;
  gap: 10px;

  background-color: #f7f7f7fb;
  background-color: transparent;
 

  // transform: rotateY(-30deg );
  // transform-style: preserve-3d;
  

  
  
  
  
  h3{
    font-family: "montserrat", sans-serif;
    font-family: "inter", sans-serif;
    font-weight: 400;
    
    font-size: 18px;
    color: $miami;

  }
  p{
    font-family: "montserrat", sans-serif;
    font-family: "inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(26, 26, 26);
  }
  

  @include respond($breakpoint-md) {
    width: 500px;
    height: 320px;
  }
  @include respond($breakpoint-mobile-l) {
    width: 450px;
    
  }
  
}
.card-text::-webkit-scrollbar{
  width: 0px;
  


}
.card-text::-webkit-scrollbar-thumb{
  background: #666;
  border-radius: 4px;
}
.card-text::-webkit-scrollbar-track{
  background: #222;
}

// #card1{
//   transform: rotate(10deg) scale(0.8);
// }


.card-title{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  position: relative;
  left: 40px;
  margin-top: 40px;
  h2{
    font-family: "Boldonse", system-ui;
    font-family: "NeueMetanaNext", system-ui;
    font-size: 18px;
    font-weight: 700;
    color: $button-petrol;
  }
  h3{
    font-family: "inter", system-ui;
    font-size: 18px;
    font-weight: 500;
    color: $button-petrol;
  }
  p{
    font-family: "inter", system-ui;
    font-size: 16px;
    font-weight: 400;
    color: $button-petrol;
  }
  
  button,a{
    background-color:rgb(175, 175, 175);
    background-color:$petrol;
    border: none;
    color:white;
    padding: 10px 20px;
    border-radius: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    font-family: "NeueMetanaNext", system-ui;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: all 0s ease-in-out;
    &:hover {

      
      background: darken($petrol, 10%);
      
      
    }
  }
  @include respond($breakpoint-sm) {
    left: 20px;
    margin-top: 20px;
    gap: 10px;
    h2{
      font-size: 16px;
    }
    h3{
      font-size: 16px;
    }
    p{
      font-size: 14px;
    }
    button,a{
      font-size: 14px;
      padding: 8px 16px;
    }
  }
}



.section-animate {
  animation: translateIn 0.8s ease-out forwards;
}








