.card{
  display: flex;
  flex-direction: column;
  width:100%;
  height: auto;
  border: solid 0px white;
  
  padding: 4px;
  img{
    width:1200px;
    height: auto;
    flex-shrink: 0;

    @include respond($breakpoint-md) {
      width: 900px;
      height: 350px;
    }
    @include respond($breakpoint-mobile-l) {
      width: 700px;
      height: 300px;height: 300px;
    }
  }
   
  h2{
    font-family: "NeueMetanaNext", system-ui;
    font-weight: 400;
    font-size: 20px;
    padding-left: 10px;
    color: $fontColorBlue;
    text-align: start;
    @include respond($breakpoint-sm) {
      font-size: 18px;
    }
  }
  h3{
    font-family: "NeueMetanaNext", system-ui;
    font-weight: 400;
    padding-left: 10px;
    color: $button-petrol-light2;
    font-size: 18px;
    
    text-align: start;
    @include respond($breakpoint-sm) {
      font-size: 16px;
    }
  }
  P{
    font-family: "NeueMetanaNext", system-ui;
    font-weight: 300;
    padding-left: 10px;
    color: $button-petrol-light2;
    font-size: 14px;
   
    text-align: start;
    @include respond($breakpoint-sm) {
      font-size: 14px;
    }
  }
}

.card-inner{
  display: flex;
  
  gap: 20px;
  border: solid 0px white;
  margin-top: 20px;
  animation: fadeIn 1.5s ease-in-out;
  overflow-x: auto;     /* scroll en eje X */
  overflow-y: hidden;   /* ocultar vertical */
  scroll-behavior: smooth;

  /* ocultar scrollbar (opcional) */
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */

  @include respond($breakpoint-sm) {
         /* scroll en eje Y */
    height: auto;        /* altura fija para scroll vertical */
  }
 
}

.card::-webkit-scrollbar{
  display: none;
}


.card-text{
  width: 400px;
  height: 500px;
  padding: 10px;
  overflow-y: scroll;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  animation: scrollIn 1s ease-in-out;
  
  
  
  gap: 10px;
  
  animation:fadeIn 2s ease-in-out;
  
  h2{
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: $fontColorBlue;
  }
  h3{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
   
  }
  p{
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    
  }
  a{
    text-decoration: none;
    color: $fontColorBlue;
    width: auto;
    
    font-size: 16px;
    font-weight: 600;
    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "NeueMetanaNext", system-ui;
    font-family: 'Montserrat', sans-serif;
    border: solid 0px $fontColorBlue;
    &:hover {
      
      color: white;
      border: solid 0px $button-petrol;
      
    }
  }

  @include respond($breakpoint-md) {
    height: 350px;
  }
  @include respond($breakpoint-mobile-l) {
    height: 300px;
  }
}
.card-text::-webkit-scrollbar{
  width: 6px;
  


}
.card-text::-webkit-scrollbar-thumb{
  background: #666;
  border-radius: 4px;
}
.card-text::-webkit-scrollbar-track{
  background: #222;
}







.section-animate {
  animation: translateIn 0.8s ease-out forwards;
}






