.navbar {
  
  // display: flex;
  // position: fixed;
  // top: 0;
  // width: 100%;
  // height: 120px;


  
  position: fixed;
  display: none;
  top: 0;
  height: 160px;
  width:100%;
  padding: 0px;
  z-index: 999;
  
  padding-top: 20px;
  
  
  
  
  transition: transform 0.5s ease-in-out;
  
  border: none;
  background:$button-petrol;
  
  backdrop-filter: blur(10px);
  // mask:conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/5px 100%;
  // z-index: 999;
  // animation: move-dents-to-right 180s linear infinite;
  @include respond($breakpoint-mobile-l) {
    height: 100px;
    
  }
}

.navbar-down{
  position: fixed;
  bottom: 0;
  height: 50vh;
  width:100%;
  padding: 0px;
  z-index: 999;
  
  padding-top: 20px;
  
  
  
  
  transition: transform 0.5s ease-in-out;
  
  border: none;
  background:$button-petrol;
}





/* Estados de cierre */




.nav-content{
  display: flex;
  
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  padding: 2px;
  height: 100%;
  width: 90%;
  // border-top: solid white 0.5px;
  // border-left: solid white 0.5px;
  // border-right: solid white 0.5px;

 

  
  padding-left: 40px;
  padding-right: 40px;
  
 
  @include respond($breakpoint-lg) {
    width: 90%;
    
  }
  @include respond($breakpoint-mobile-l) {
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
  }
}





.logo{
  display: flex;
  flex-direction: column;  
  
  border:none;
  color: $button-petrol-lighter;
  h3{
  
  font-family: "Anton", sans-serif;
  font-family: "Boldonse", system-ui;
  

  

  font-weight: 400;
  font-size: 16px;
  
    @include respond($breakpoint-md) {
      font-size: 14px;
    }
    @include respond($breakpoint-mobile-l) {
      font-size: 12px;
    }
    
    
  }
  
  p{
    font-family: "Anton", sans-serif;
    font-family: "Boldonse", system-ui;
    

    text-align: center;
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    color: $button-petrol-lighter;
    
    @include respond($breakpoint-md) {
      font-size: 14px;
    }
    @include respond($breakpoint-mobile-l) {
      font-size: 12px;
    }
    

  }
  span{
    font-family: "Anton", sans-serif;
    font-family: "Boldonse", system-ui;
    
    font-weight: 400;
    font-size: 16px;
    color: $button-petrol-lighter;
    

    -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    -webkit-text-stroke: 0px $button-petrol;
    @include respond($breakpoint-md) {
      font-size: 14px;
    }
    @include respond($breakpoint-mobile-l) {
      font-size: 12px;
    }
   

  }
}























#github{
  
  font-size: 24px;
  color: $button-petrol-lighter;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border: solid 0px rgba(255, 255, 255, 0.774);
  @include respond($breakpoint-md) {
    font-size: 22px;
  }
  @include respond($breakpoint-mobile-l) {
    font-size: 18px;
  
  }
}

#linkedin{
  
  font-size: 24px;
  color: $button-petrol-lighter;
  background-color: transparent;
  cursor: pointer;
  border: none;
  @include respond($breakpoint-md) {
    font-size: 22px;
  }
  
  
}



