
//COLORS
$backgroundColor: #f8cb74;
$backgroundColor: #1a1919;



$backgroundColor-5: #f8cb74;
$backgroundColor-2: #FF6C58;
$backgroundColor-3: #75ABF6;
$backgroundColor-4: #89CC83;
$backgroundColor-4: #828FA2;

$background-4:  linear-gradient(nulldeg,rgba(0, 0, 0, 1) 0%, rgba(137, 204, 131, 1) 100%);

$backgroundColor-day: #f2f2f2;
$backgroundColor-petrol: #333E4D;
$backgroundColor-petrol-light: #828FA2;
$backgroundColor-petrol-light2: #a5b2c4;
$backgroundColor-petrol-lighter: #d7dce5;


$backgroundColorWork-night: #242222;
$backgroundColorWork-day: #f5f5f5;

//FONTS
$FontFamily1: 'Nunito Sans', serif;
$FontFamily2: 'Advent Pro', serif;
$FontFamily3: 'Space Mono', monospace;

//FONT COLORS
$fontColor-white: #f5f5f5;
$fontColor-petrol: #333E4D;
$fontColor-petrol: #5E6978;
$fontColor-petrol-light: #828FA2;



$fontColor-day: #121111;
$fontColor2-day: #525252;
$fontColor3-day: #7a7a7a;
$fontColorBlue: #6958ff;
$fontColorRed: #FF6C58;
$fontColorOrange: #fff56e;
$fontColorPurple: #633192;

$gradientBlue-night: linear-gradient( #5febf524, #13d3e500);
$gradientPink-night: linear-gradient(#ff79c72e, #f20f9300);
$gradientOrange-night: linear-gradient( #faac692b, #d2660700);

$gradientBlue-night-sm: linear-gradient(to right, #5febf524, #13d3e500);
$gradientBlueLeft-night-sm: linear-gradient(to left, #5febf524, #13d3e500);
$gradientPink-night-sm: linear-gradient(to left,#ff7ac82e, #f20f9300);
$gradientOrange-night-sm: linear-gradient(to right, #faac692b, #d2660700);


// Breakpoints globales
$breakpoint-mobile-s: 325px; // pantallas extra grandes
$breakpoint-mobile-m: 375px;   // móviles
$breakpoint-mobile-l: 480px;   // móviles
$breakpoint-sm: 768px;   // tablet vertical
$breakpoint-md: 1024px;  // tablet horizontal / laptop pequeño
$breakpoint-lg: 1280px;  // desktop grande
$breakpoint-xl: 1440px;  // desktop extra grande
$breakpoint-sm-up: 768px;


$gradientBlue: linear-gradient( #5febf524, #13d3e500);
$gradientBlueHover: linear-gradient( #5febf524, #13d3e500);

$button-petrol: #333E4D;
$button-petrol-light: #828FA2;
$button-petrol-light2: #a5b2c4;
$button-petrol-lighter: #d7dce5;

$iterations: 30;
$rotate-time: 4s;
$rotate-delay: 0.15;

$lines-color: #d7dce5;
$lines-color2: #333E4D;

$dots-color:#d7dce5;
$dots-color2: #333E4D;

$iterations-logo: 16;
$rotate-time-logo: 4s;
$rotate-delay-logo: 0.35;
