




.about-me-content {


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border:none;
  width: 100%;
  padding: 0px;
  height: 100%;
  z-index: 3;
  border-right: solid 30px $alabaster;
  border-left: solid 30px $platinum;
  padding: 0px;
  overflow: hidden;
  
  // border-bottom: solid 1px $button-petrol;
  // border-bottom: solid 1px $button-petrol;
  // border-left: solid 1px $button-petrol;
  // border-right: solid 1px $button-petrol;
  background-color: $backgroundColor;
  background-color: #cfdbd5ff;
  
  
    
  
  

  


  h1{
     font-family: "inter", sans-serif;
    align-self: flex-end;
    padding-right: 20px;
    padding-top: 20px;
    color: $button-petrol;
    font-size: 22px;
    font-weight: 300;

   
    
  }
  

  
  @include respond($breakpoint-xl) {
    
    width: 100%;
    padding: 0px;
    
  }
  @include respond($breakpoint-mobile-l) {
      border-left: 12px $platinum solid;
      border-right: 12px $alabaster solid;
    }
  
  
  
  
  
}

.about-me-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 100%;
  
  h1{
   font-family: "inter", sans-serif;
    align-self: flex-end;
    
    padding-top: 80px;
    color: $button-petrol;
    font-size: 22px;
    font-weight: 300;
    color: $button-petrol;
    font-size: 22px;
    font-weight: 300;
    @include respond($breakpoint-mobile-l) {
      padding-top: 60px;
      font-size: 18px;
      
    }
    
  }
 
}




.about-me-image-content {
  display: flex;
  width: 100%;
  justify-content:space-around;
  height: auto;
  gap: 4px;
  margin-bottom: 40px;
  overflow-x: auto;     /* scroll en eje X */
  overflow-y: hidden;   /* ocultar vertical */
  
  
   border: solid 0px black;
  img{
    
    width: 450px;
    height: 400px;
    object-fit: cover;
    opacity: 0.7;
    
    border-radius: 0px;
    border: solid 0px transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;

    @include respond($breakpoint-mobile-l) {
      width: 300px;
      height: 250px;
    }
    
  }
  img:hover{
    
    opacity: 0.9;
  }
}





.about-me-text1{
  
  display: flex;
  width: 100%;
  padding:20px;
  border: solid 0px transparent;
  border: solid 0px black;
  gap: 30px;
  margin-bottom: 60px;
  
  

  

  
  
  
  

  p {
    
    font-family: "Inter", sans-serif;
    width: 800px;
    font-size: 28px;
    font-weight: 400;
    color: $button-petrol;
    color: $miami;
   
    padding: 0px;
    border: solid 0px black;
    @include respond($breakpoint-mobile-l) {
      font-size: 26px;
      
    }
    
  }
  
  
 
  
}

.about-me-text2{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: solid 0px black;
  padding:20px;
  gap: 20px;
  margin-bottom: 120px;
  
  p{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 200;
    border: solid 0px black;
    width: 50%;

    @include respond($breakpoint-mobile-l) {
      font-size: 20px;
      width: 100%;
    }
  }
  @include respond($breakpoint-mobile-l) {
    flex-direction: column;
    align-items: center;
  }


  
}


.about-me-image-content::-webkit-scrollbar-track{
  color: $miami;
}


