




.about-me-content {


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border:none;
  width: 100%;
  padding: 0px;
  height: 100%;
  z-index: 3;
  
 
  overflow: hidden;
  
  // border-bottom: solid 1px $button-petrol;
  // border-bottom: solid 1px $button-petrol;
  // border-left: solid 1px $button-petrol;
  // border-right: solid 1px $button-petrol;
  background-color: $platinum;
  background-color: #E0EAE5;
  background-color: #e9e9e9;

  background-color: #F9FAFB;
  
  
  
    
  
  

  


  
  
  

  
  @include respond($breakpoint-xl) {
    
    width: 100%;
    
    
  }
  @include respond($breakpoint-mobile-l) {
      border-left: 0px $platinum solid;
      border-right: 0px $alabaster solid;
    }
  
  
  
  
  
}

.about-me-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 100%;
  
  
 
}

.about-me-text-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-top: 120px;
  gap: 40px;
  border: solid 0px black;
  @include respond($breakpoint-md) {
    width: 100%;
  }
}




.about-me-image-content {
  display: flex;
  width: 100%;
  justify-content:space-around;
  height: auto;
  gap: 4px;
  margin-bottom: 40px;
  overflow-x: auto;     /* scroll en eje X */
  overflow-y: hidden;   /* ocultar vertical */
  padding: 10px;
  
  border: solid 0px black;
  img{
    
    width: 450px;
    height: 400px;
    object-fit: cover;
    position: relative;
    
    border-radius: 1px;
    border: solid 0px transparent;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.298);
    transition: 0.8s ease;

    
    

    @include respond($breakpoint-mobile-l) {
      width: 300px;
      height: 250px;
    }
    
  }
  
}

#img2, #img4{
  margin-top: 0px;
  
}





.about-me-text1{
  
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:0px;
  border: solid 0px transparent;
  border: solid 0px black;
  gap: 0px;
  
  h1{
    font-family: "inter", sans-serif;
    color: $miami;
    
    font-size: 30px;
    font-weight: 400;

    @include respond($breakpoint-md) {
      font-size: 26px;
      
    }
  }
  span{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    margin-top: 6px;
    font-weight: 300;
    color: $petrol;
    

    @include respond($breakpoint-md) {
      font-size: 18px;
      
    }
  }
  
  
  
  

  p{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: $petrol;
    margin-top: 80px;
    

    @include respond($breakpoint-md) {
      font-size: 18px;
      
    }
  }
  
  
 
  
}

.about-me-text2{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border: solid 0px black;
  padding:0px;
  gap: 0px;
  margin-top: 0px;
  
  p{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: $petrol;
    

    @include respond($breakpoint-md) {
      font-size: 20px;
      
    }
  }
  @include respond($breakpoint-mobile-l) {
    flex-direction: column;
    align-items: center;
  }


  
}


.about-me-image-content::-webkit-scrollbar-track{
  color: $miami;
}


