.container-about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 2px;
  
  
  
  background-color: $backgroundColor-day;
  transition: 0.5s;
  z-index: 3;
   
}

#about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  gap: 20px;
  width: 90%;
  height: 100%;
  padding: 0px;
  
  overflow-y: auto;
  z-index: 3;
  animation: appear 5s  ;
  h1 {
    color:$fontColorPurple; ;
    text-align: center;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-size:48px;
    letter-spacing: 10px;
    @include respond($breakpoint-md) {
      font-size: 38px;
      
    }
    @include respond($breakpoint-sm) {
      font-size: 32px;
      margin-top: 0px;
    }
  }
  p {
    z-index: 999;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 1.5;
    text-wrap: balance;
    font-size: 24px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    color: var(--font-color-text);
    
    
    @include respond($breakpoint-md) {
      font-size: 20px;
      
    }
  }
  
  
  
  @include respond($breakpoint-lg) {
    width: 80%;
    padding: 10px;
  }
  @include respond($breakpoint-md) {
    width: 90%;
    height: 100%;
    padding: 2px;
  }
  @include respond($breakpoint-sm) {
    width: 100%;
    height: 100%;
    padding: 12px;
  }
  
}


