




.about-me-content {


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border:none;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: solid white 0px;
  
  // border-bottom: solid 1px $button-petrol;
  // border-bottom: solid 1px $button-petrol;
  // border-left: solid 1px $button-petrol;
  // border-right: solid 1px $button-petrol;
  background-color: $backgroundColor-day;

  


  h1{
    font-family: "NeueMetanaNext", system-ui;
    font-weight: 400;
    color: $button-petrol;
    font-size: 30px;
    padding-top: 40px;
    margin-bottom: 40px;
    @include respond($breakpoint-sm) {
      font-size: 18px;
      margin-top: 0px;
      text-align: center;
    }
  }
  

  
  @include respond($breakpoint-xl) {
    
    width: 100%;
    padding: 10px;
    
  }
  
  
  
  
  
}

.about-me-image-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  align-self: self-start;
  border-radius: 8px;
  margin-top: 0px;
  position: relative;
  color: rgb(0, 0, 0);
  p{
    font-style: italic;
    
  }

  @include respond($breakpoint-mobile-l) {
    width: 100%;
    
  }
}


.about-me-image {
  
  
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  border: solid 0px $button-petrol-light2;
  
  
}





.about-me-text1{
  flex-direction: column;
  display: flex;
  width: 50%;
  padding:20px;
  border: solid 0px transparent;
  
  gap: 10px;
  margin-bottom: 60px;
  
  

  border: solid 0px $button-petrol-light2;


  
  h1{
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-family: 'Montserrat', sans-serif;
    font-family: "NeueMetanaNext", system-ui;
     
    color: $fontColorBlue;
    font-size: 30px;
    
    @include respond($breakpoint-sm) {
      font-size: 20px;
    }
    @include respond($breakpoint-mobile-l) {
      font-size: 18px;
      padding: 6px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
  }
  
  h2{
    font-family: "Boldonse", system-ui;
    font-family: "NeueMetanaNext", system-ui;
    font-family: 'Montserrat', sans-serif;
    color: $button-petrol;
    color: $button-petrol-light;
    color: $fontColorBlue;
    font-weight: 600;
    padding: 0px;
    text-align: start;
    font-size: 18px;
    margin-top: 20px;
    @include respond($breakpoint-sm) {
      font-size: 16px;
      
    }
  }

  p {
    text-align: start;
    text-wrap-mode: balance;
    line-height: 1.5;
    font-family: "Brockmann", sans-serif;
    font-family: 'inter', sans-serif;
    font-family: 'nunito', sans-serif;
    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
    font-weight: 500;
    color: $button-petrol;
    padding: 0px;
    @include respond($breakpoint-mobile-l) {
      font-size: 16px;
      
    }
    
  }
  
  @include respond($breakpoint-xl) {
    width: 80%;
    font-size: 18px;
  }
  @include respond($breakpoint-lg) {
      width: 90%;
      font-size: 18px;
    }
    @include respond($breakpoint-sm) {
      width: 100%;
      font-size: 16px;
    }
    @include respond($breakpoint-mobile-l) {
      font-size: 14px;
      padding: 0px;
    }
  
}




