.contact-me{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:100%;
  align-items: center;
  text-align: center;
  
  gap: 40px;
  padding: 20px;
  
  
  background-color:$platinum;
  background-color: #e9e9e9;

  
  
  h1{
    font-family: "inter", sans-serif;
    align-self: flex-end;
    padding-right: 20px;
    padding-top: 20px;
    color: $button-petrol;
    font-size: 22px;
    font-weight: 300;
    @include respond($breakpoint-mobile-l) {
      padding-right: 0;
      font-size: 18px;
    }
  }
  p{
    color: $fontColor-petrol-light;
    font-weight: 500;
    font-size: 14px;
    
   
  }

  

  

 
  
}
.contact-card{
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  padding: 40px;
  
  

  
 

   
  h2{
    font-family: 'inter', sans-serif;
      color: $button-petrol;
      font-size: 18px;
      font-weight: 400;
  }
  
  p{
    font-family: 'inter', sans-serif;
    color: $button-petrol;
    font-weight: 300;
    font-size: 16px;
    width: 40%;
    @include respond($breakpoint-sm) {
      width: 80%;
    }
    @include respond($breakpoint-mobile-l) {
      
      width: 90%;
    }
   
   
  }
  a{
    
    text-decoration: none;
    background-color: transparent;
    color: $miami;
    border: solid 1.5px $miami;
    
    font-weight: 600;
    padding: 8px 16px;
    font-size: 14px;
    width: fit-content;

    &:hover {
      background-color: $petrol;
      color: white;
    }
  }

  svg{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0px;
    bottom: 0px;
    
    
  }
  @include respond($breakpoint-sm) {
    padding: 20px;
    width: 90%;
    h1,h2{
      font-size: 16px;
    }
    p{
      font-size: 14px;
    }
    a{
      font-size: 18px;
      padding: 6px;
    }
  }
  



}

.social-icons{
  display: flex;
  gap: 0px;
  border: solid 0px $button-petrol;
  justify-content: center;
  align-items: center;

}

#github{
  
  font-size: 28px;
  color: rgb(11, 11, 11);
  background-color: transparent;
  cursor: pointer;
  border: none;
  border: solid 0px rgba(255, 255, 255, 0.774);
 
}

#linkedin{
  
  font-size: 28px;
  color: rgb(39, 118, 255);
  
  cursor: pointer;
  border: none;
  
  
  
}

@keyframes fromRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

// .container-contact{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;

 
//   transition: 0.5s;
//   background-color:white;

// }

// .contact-content{
  
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr 1fr;
//   border: none;

//   width: 60%;
//   height: 100%;
//   padding: 20px;
//   gap: 10px;
//   overflow-y: hidden;
//   z-index: 3;
//   animation: appear 5s  ;
//   background: transparent;

//   div {
//     display: flex;
//     gap: 1rem;
//   }

//   @include respond($breakpoint-lg) {
//     width: 80%;
//     padding: 10px;
    
//   }
//   @include respond($breakpoint-md) {
    
//     width: 90%;
//     height: 100%;
//     padding: 2px;
//   }
//   @include respond($breakpoint-sm) {
//     width: 100%;
//     height: 100%;
//     padding: 12px;
    
//   }
//   @include respond($breakpoint-mobile-l) {
//     width: 100%;
//     height: 100%;
    
//     font-size: 16px;
//     align-items: center;
//     justify-content: center;
//   }
  
// }


// .contact-title{
//   grid-column: 5 /  6;
//   grid-row: 1 / 5;
//   display: flex;
//   flex-direction: column;
//   text-align: center;
//   justify-content: center;
  
//   padding:0px;
//   background-color: $backgroundColor;
//   h1{
//     font-family: "Anton", sans-serif;
//     letter-spacing: 10px;
//     font-size: 42px;
//     font-weight: 400;
//     text-align: center;
//     transform: rotateZ(90deg);
//     color: $fontColor-petrol;
//   }
  
  
// }

// .exit-contact{
//   grid-column: 1 / 2;
//   grid-row: 4 / 5;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   justify-self: end;
//   align-items:start;
//   position: relative;
  
//   padding: 14px;
//   text-decoration: none;
//   width: 120px;
//   height: 100%;
//   font-size: 16px;
//   text-align: start;
//   font-weight: 400;
//   cursor: pointer;
//   transition: 0.5s ease-in;
//   background: #333E4D;
//   color: #828FA2;
//   border: none;

//   background-color: transparent;
//   border-right: solid 1px #333E4D;
  
  
//    color: $fontColor-petrol;

//   div{
//     font-family: "Lugrasimo", cursive;
//   }

//   span{
//     font-family: "Inter", sans-serif;
//   }

//   @include respond($breakpoint-lg) {
//     font-size: 14px;
//   }
//   @include respond($breakpoint-sm) {
//     grid-column: 1 / 3;
//     grid-row: 3;
//     align-items: end;
//     justify-content: center;
//   }
//   @include respond($breakpoint-mobile-l) {
//     grid-column: 1 /5;
//     grid-row: 3 / 4;
//   }

//   @include hover {
//     background-color: $button-petrol;
//     border: none;
//     border-right: solid 1px #333E4D;
    
//     color: #ffffff;
//     div{
//       color: #ffffff;
//     }
//     i{
//       color: #ffffff;
//     }
//   }
//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     right: 0;
//     height: 100%;
//     width: 0;
//     background-color:$button-petrol;
//     z-index: -1;
//     transition: width 0.3s ease ;
//   }
//   &:hover::before {
//     width: 100%;
    
//   }
  
// }



// .form-container{
//   grid-column: 2 /5;
//   grid-row: 1 / 4;
//   padding: 10px;
//   border: solid 0px $fontColor-petrol;
//   overflow-y: auto;
//   min-height: 350px;
//   h2{
//     margin-top: 10px;
//     margin-bottom: 30px;
//     text-align: center;
//     color: $fontColor-petrol;
//   }
// }

// .input-field{
//   border: solid 0px #8c8c8c ;
//   color: $fontColor-petrol;
//   background-color: $button-petrol-lighter;
//   width:100%;
//   padding: 4px;
//   height: 40px;
//   margin-bottom: 20px;
//   color: $fontColor-petrol;
  
// }

// .input-field-textArea{
  
//   border: solid 0px #8c8c8c ;
//   background-color: $button-petrol-lighter;
//   width:100%;
//   min-height: 200px;
//   max-height:320px;
//   padding: 4px;
//   resize: none;
//   overflow-y: hidden;
//   color: $fontColor-petrol;
  
// }

// .input-field:focus,
// .input-field-textArea:focus {
//   outline: none;
//   font-weight: 700;

// }

// .input-field:focus::placeholder,
// .input-field-textArea:focus::placeholder {
//   color: transparent;
  
// }

// .input-field::placeholder,
// .input-field-textArea::placeholder {
//   color: $fontColor-petrol-light;
//   font-size: 1rem;
//   font-weight: 700;
  
// }

// .submit-container{
//   grid-column: 2 / 5;
//   grid-row: 4 / 5;
//   display: flex;
  
//   padding: 0px;
//   align-items: center;
//   justify-content: center;
//   margin-top: 0px;
//   border: solid 0px $fontColor-day;
//   min-height: 150px;
// }

// .submit-btn{
  
  
//   background-color:rgb(228, 227, 227);
  
//   border: solid 1px $fontColor-day;
//   font-size: 1.25rem;
//   font-weight: 700;
//   padding: 0px;
//   align-self: center;
//   justify-self: start;
//   width: 120px;
//   height: 40px;
//   color: $fontColor-petrol;
//   cursor: pointer;
//   transition: 0.2s;
  
  
// }

// .submit-btn:hover{
//  transform: scale(1.02);
  
// }



// .visually-hidden {
// position: absolute;
// width: 1px;
// height: 1px;
// margin: -1px;
// padding: 0;
// overflow: hidden;
// clip: rect(0 0 0 0);
// white-space: nowrap;
// border: 0;
// }

// .contact-icons{
//     color: inherit;
//     border: none;
//     background-color: transparent;
//     cursor: pointer;
//     font-size: 28px;
// }