
.portfolio-mainPage{
  display: flex;
  
  
  
  justify-content: center;
  align-items: center;
  text-align: start;
  border: none;
  position: relative;

  min-height: 80dvh;
  max-width: 100%;
  background-color: #242423;
  
  background-color: $alabaster;
  background-color: $platinum;
  background-color: #E0EAE5;
  background-color: #f3f4f3;

   background-color: $platinum;
   background-color: #e9e9e9;
   background-color: transparent;
   background-color: #F9FAFB;
   
  border-bottom: 3px solid $petrol;
  
  

  // &::before{
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url(/assets/img/);
  // background-size: cover;
  // background-repeat: no-repeat;
  // opacity: 0.3;
  
  // }

  

  // &::before{
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 50%;
  //   height: 100%;
  //   background-color: $platinum;
    
  //   opacity: 1;
  //   z-index: 0;
  //   pointer-events: none;
    

    
   
  // }

    

}



.portfolio__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    left: 0%;
    gap: 0px;
    
    z-index: 2;
    
    height: auto;


    height: auto  ;
    overflow: hidden;
    
    padding-left: 0px;

    animation: scaleDown 1.5s ease-in-out;
    
    

    transition: 1s ease-in-out;
    

    // -webkit-animation: jello-horizontal 0.9s both;
	  //       animation: jello-horizontal 0.9s both;
    //       animation-delay: 1s;
 


    // --border-angle: 0turn; // For animation.
    // --main-bg: conic-gradient(
    //     from var(--border-angle),
    //     #1a1919 ,
    //     #1a1919 100%
    // );
    // border: solid 30px transparent;

    // border-radius:1px;
    // --gradient-border: conic-gradient(from var(--border-angle), transparent 25%,#FF6C58, #6958ff 99%, transparent);
    // background:
    //   // padding-box clip this background in to the overall element except the border.
    //   var(--main-bg) padding-box,
    //   // border-box extends this background to the border space
    //   var(--gradient-border) border-box,
    //   // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    //   var(--main-bg) border-box;
    // background-position: center center;
    // animation: bg-spin 6s  linear infinite;


   
 



 @include respond($breakpoint-lg) {
    a{
      font-size: 30px;

    }
  }
  
  @include respond($breakpoint-mobile-l) {
    
    height: 90dvh;
    
    gap: 0px;

    a{
      font-size: 22px;

    }
  }
  @include respond($breakpoint-mobile-l) {
    padding: 10px;

  }
  
}

.portfolio__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-items: start;
  align-content: center;
  position: relative;
  border: solid 1px rgba(48, 48, 48, 0);
  text-wrap: balance;
  margin-top: 0px;
  color: transparent;
  padding-left: 0px;
  h1{
    font-family: "safiro", sans-serif;
    font-size: 64px;
    line-height: 1.2;
    font-weight: 600;
    color: $petrol;

    width: 80%;
  }
  p{
    font-family: "inter", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: $petrol;
  }
  a{
    text-align: center;
    text-decoration: none;
    color: $petrol;
    border: solid 2px $petrol;
    padding: 12px;
    font-size: 28px;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'inter', sans-serif;
    position: relative;
    background-color: $miami;
    padding-left: 40px;
    padding-right: 40px;
    &:hover {
      color: white;
    }
  }
  div{
    display: flex;
    align-items: center;
    svg{
      animation: appear 6s ease-in forwards, floating 8s ease-in-out infinite,;
    }
  }
  @include respond($breakpoint-lg) {
    h1{
      font-size: 48px;
    }
    a{
      font-size: 24px;
      
    }

  }
  @include respond($breakpoint-md) {

    padding-left: 50px;
    h1{
      font-size: 36px;

    }
    a{
      font-size: 20px;
      margin-top: 60px;
    }
  }

  @include respond($breakpoint-mobile-l) {

    padding-left: 0px;
    h1{
      font-size: 30px;
    }
    a{
      font-size: 18px;
      padding: 12px 20px;
    }
  }
  @include respond($breakpoint-mobile-s) {

    h1{
      font-size: 28px;
    }
    a{
      font-size: 14px;
      padding: 10px;
    }
  }
}

.portfolio__title.animate, .card-inner.animate {
  animation: fadeInUp 0.2s ease forwards;
}


.flip-text {
  position: relative;
  display: inline-block;
  perspective: 1000px;
  width: 100%;
  text-align: start;
  
}

.flip-text span {
  display: block;
  backface-visibility: hidden;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  color: #523F38;
  color: #5d636b;
  
  
  
}

.front {
  transform: rotateX(0deg);
}

.back {
  transform: rotateX(540deg);
}

.flip-text.flipped .front {
  transform: rotateX(540deg);
  
}

.flip-text.flipped .back {
  transform: rotateX(0deg);
  
}

// .portfolio__text::before {
//   content: "";
//   position: absolute;
//   inset: 0; /* ocupa todo el contenedor */
//   border: 2px solid transparent;
//   background:
//     linear-gradient(to right, white 1px, transparent 1px) top left,
//     linear-gradient(to bottom, white 1px, transparent 1px) top left,

//      linear-gradient(to left, white 1px, transparent 1px) top right,
//     linear-gradient(to bottom, white 1px, transparent 1px) top right,

//     linear-gradient(to right, white 1px, transparent 1px) bottom left,
//     linear-gradient(to top, white 1px, transparent 1px) bottom left,

//    linear-gradient(to left, white 1px, transparent 1px) bottom right,
//     linear-gradient(to top, white 1px, transparent 1px) bottom right;

//   background-size: 25px 25px; /* tamaño de las esquinas */
//   background-repeat: no-repeat;
//   pointer-events: none;
// }







// .dna {
//   position: relative;
//   width: 200px;
//   height: 400px;
//   margin: 50px auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
// }
// .dna div {
//   width: 20px;
//   height: 20px;
//   animation: spin 1.5s infinite linear;

// }

// .dna div:nth-child(n) {
//   animation-delay: calc(var(--i) * 0.2s);
// }

// /* 4 colores del portfolio (ajústalos a tus hex) */
// .dna div:nth-child(4n+1) { background: #ff595e; }
// .dna div:nth-child(4n+2) { background: #1982c4; }
// .dna div:nth-child(4n+3) { background: #8ac926; }
// .dna div:nth-child(4n+4) { background: #ffca3a; }



.spiral{
 position: absolute;
 display: none;
 left: 0px;
 top: 70px;
 transform: scale(0.5);
}
.spiral path {

  stroke: #333e4d96; /* tu $button-petrol */
  stroke-width: 10;
  fill: transparent;
  stroke-linecap: square;
  stroke-linejoin: square;
  stroke-dasharray: 5 20;   /* largo total del path */
  stroke-dashoffset: 500;  /* empieza oculto */
  animation: march 30s linear infinite;
  z-index: 1;
}

// #spiral2 path{
//   animation: march 15s linear infinite ;
// }

// #spiral3 path{
//   animation: march 10s linear infinite;
// }

#dna {

  position: absolute;
  height: 240px;
  top: 500px;
  left: 10%;
  width: 800px;
  margin-top: -120px;
  margin-left: -400px;
  perspective: 1000px;
  z-index: 1;
  rotate: 90deg;
  transform: scale(1) rotate(-10deg);
}


#dna div{
  position: relative;
  top: 50%;
  left: 60px;
  width: 0.5px;
  height: 160px;
  margin-top: -80px;
  background-color: $lines-color;
  float: left;
  transform-style: preserve-3d;
  margin-left: 20px;
  animation: rotation $rotate-time linear infinite;
}

#dna div::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -4px;
  right: -4px;
  height: 10px;
  background-color: $dots-color2;
  border-radius: 1px;
  animation: rotation $rotate-time linear infinite reverse;
  z-index: 1;
}

#dna div::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -4px;
  right: -4px;
  height: 10px;
  background-color: $dots-color2;
  border-radius: 5px;
  animation: rotation $rotate-time linear infinite reverse;
  z-index: 1;
}



.iframe-container{
  display: none;



  width: 100%;
  height: 100%;


  iframe {
    width: 100%;
    height: 100%;


  }
}
.iframe-container.active {
  display: flex;
}


