.work-container{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  
  align-items: center;
  width: 100%;
  height: 100%;
  
  background-color: $backgroundColor;
  z-index: 1;


  border: solid white 0px;

  h1{
    
    
    font-family: "boldonse", system-ui;
    font-family: "NeueMetanaNext", system-ui;
    
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color: $button-petrol-light2;
    font-size: 30px;
    font-weight: 600;
    
    
    @include respond($breakpoint-sm) {
      font-size: 20px;
      margin: 0px;
      text-align: start;
    }
    @include respond($breakpoint-mobile-l) {
      font-size: 18px;
      margin: 0px;
      text-align: center;
      
    }
  }

  
  


}








.cards-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
  gap: 100px;
  border: 0px solid $fontColor-petrol-light;
  padding: 20px;
  padding: 40px;
  @include respond($breakpoint-xl) {
    padding: 10px;
    
    width: 100%;
    
  }
}

.cards-container::-webkit-scrollbar {
  display: none; // Oculta la barra de desplazamiento en WebKit (Chrome, Safari)
}



// .cards-container.expanded{
//   margin-top: 10px;
  
// }

// .cards-container.expanded .card {
//   display: none; // ocultamos todas
  
// }
// .cards-container.expanded .card.active {
//   display: flex;
//   inset: 0; // ocupa toda la pantalla
//   width: 100vw;
//   height: 100vh;
//   background: white;
//   overflow-y: auto;
//   z-index: 2000;
//   background-color: transparent;
//   padding: 10px;

  
  
//   .title-desktop{
//     display: none;

//   }
//   .card-image{
//     margin-top: 0px;
//   }

//   // Para que el scroll interno funcione
//   -webkit-overflow-scrolling: touch;

  
// }

.projects-title{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding:0px;
  width: 180px;
  height: 100%;
  background-color: $button-petrol-lighter;
  h1{
    font-family: "Monoton", sans-serif;
    font-family: "Anton", sans-serif;
    font-family: 'N27', sans-serif;
    font-family: "Boldonse", system-ui;
    
    font-weight: bolder;
    font-size: 25px;
    font-weight: 800;
    transform: rotateZ(90deg);
    color: $button-petrol;

    font-family: 'Fender', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    
    @include respond($breakpoint-md) {
      font-size: 28px;
    }
  }
  @include respond($breakpoint-md) {
    display: none;
   
  }
  @include respond($breakpoint-sm) {
    
    
    
    
    width: 100%;
    height: 100px;
    h1{
      
      font-size: 16px;
      transform: rotateZ(0deg);
    }
  }
}







