.work-container{
  display: flex;
  
  flex-direction: column;
  width: 100%;
  justify-content: center;
  
  align-items: center;
  
  height: 100%;
  
  background-color: $platinum;
  background-color: #F3F8F2;
  background-color: #E0EAE5;
  background-color: #f3f4f3;
   background-color: #FCF7F8;
   background-color: #ffffff;
   background-color: #e9e9e9;
   background-color: #F9FAFB;
   overflow-x: hidden;
   
   
   
  
  
 
  
  
  z-index: 1;
  gap:40px;


  

  
  
  padding-left: 0px;
  padding-right: 0px;

  
  border-top: 0px solid $petrol;
  border-bottom: 0px solid $petrol;
  
  


  // --border-angle: 0turn; // For animation.
  //   --main-bg: conic-gradient(
  //       from var(--border-angle),
  //       #f2f2f2 ,
  //       #f2f2f2 95%
  //   );
  //   border-top: solid 0px transparent;
  //   border-bottom: solid 0px transparent;
  //   border-left: solid 0px transparent;
  //   border-right: solid 20px transparent;
  //   border-radius:1px;
  //   --gradient-border: conic-gradient(from var(--border-angle), transparent 25%,#FF6C58, #6958ff 99%, transparent);
  //   background: 
  //     // padding-box clip this background in to the overall element except the border.
  //     var(--main-bg) padding-box,
  //     // border-box extends this background to the border space
  //     var(--gradient-border) border-box, 
  //     // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
  //     var(--main-bg) border-box;
  //   background-position: center center;
  //   animation: bg-spin 20s linear infinite;

  
  
  
  

  
  

  


}








.cards-container{
  display: flex;
  
  width: 100%;
  height: 100%;
  margin-top: 0px;
  gap: 32px;
  border: 0px solid $fontColor-petrol-light;
  outline: solid 0px $miami;
  padding: 0px;
  border-bottom: 3px solid $petrol;
  overflow-x: scroll; 
  overflow-y: hidden;
  
  padding: 10px;
  
  @include respond($breakpoint-mobile-l) {
    gap: 20px;
    padding: 0px;
  }
  
  
}




// .cards-container3{
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   width: 100%;
//   height:100%;
//   background-color: $alabaster;
//   padding: 40px;
  
  
// }

.cards-container::-webkit-scrollbar {
  display: none; // Oculta la barra de desplazamiento en WebKit (Chrome, Safari)
}



// .cards-container.expanded{
//   margin-top: 10px;
  
// }

// .cards-container.expanded .card {
//   display: none; // ocultamos todas
  
// }
// .cards-container.expanded .card.active {
//   display: flex;
//   inset: 0; // ocupa toda la pantalla
//   width: 100vw;
//   height: 100vh;
//   background: white;
//   overflow-y: auto;
//   z-index: 2000;
//   background-color: transparent;
//   padding: 10px;

  
  
//   .title-desktop{
//     display: none;

//   }
//   .card-image{
//     margin-top: 0px;
//   }

//   // Para que el scroll interno funcione
//   -webkit-overflow-scrolling: touch;

  
// }

.projects-title{
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding:0px;
  width: 180px;
  height: 100%;
  background-color: $button-petrol-lighter;
  h1{
    font-family: "Monoton", sans-serif;
    font-family: "Anton", sans-serif;
    font-family: 'N27', sans-serif;
    font-family: "Boldonse", system-ui;
    
    font-weight: bolder;
    font-size: 25px;
    font-weight: 800;
    transform: rotateZ(90deg);
    color: $button-petrol;

    font-family: 'Fender', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    
    @include respond($breakpoint-md) {
      font-size: 28px;
    }
  }
  @include respond($breakpoint-md) {
    display: none;
   
  }
  @include respond($breakpoint-sm) {
    
    
    
    
    width: 100%;
    height: 100px;
    h1{
      
      font-size: 16px;
      transform: rotateZ(0deg);
    }
  }
}







