.container-legal{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100vh;
  padding: 40px;
  color:$fontColor2-day;
  z-index: 3;
  background-color:transparent;
  animation: appear 2s  ;

  h1{
    font-size: 32px;
    font-weight: 600;
    color: $fontColor2-day;
  }
  h2{
    font-size: 24px;
    font-weight: 500;
    color: $fontColor2-day;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    color: $fontColor2-day;
    line-height: 1.5;
  }
  @include respond($breakpoint-mobile-l) {
    padding: 10px;
    h1{
      font-size: 24px;
    }
    h2{
      font-size: 20px;
    }
    p{
      font-size: 14px;
    }
  }
}


// <footer class="footer">
//           <div>
//               <a  data-i18n="cookiesLink" href="./pages/legal/privacy.html" aria-label="Política de Cookies y Privacidad">
//                 Cookies & Privacidad
//               </a>
//               <p >
//                 © 2025 arisanpala
//               </p>
//           </div>
// </footer>


// <div id="iframe-container" class="iframe-container">
//             <a href="../index.html" class="exit" id="exit">BACK</a>
//             <iframe 
//               src="https://unsplash-searchbar-engine.vercel.app/" 
//               width="100%" 
//               height="100%" 
//               style="border:none; border-radius:12px;"
//             ></iframe>
//           </div>



// <div class="spirals-container">
//             <div class="spiral" id="spiral1">
//              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
//               <path fill-rule="evenodd" clip-rule="evenodd" d="M57 0V42.3149V48H15V12H45V36H27V24H33V30H39V18H21V42H51V6H9V54H57V60H3V0H57Z" fill="transparent"/>
//             </svg>
//            </div>
//            <div class="spiral" id="spiral2">
//              <svg width="100" height="100" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
//               <path fill-rule="evenodd" clip-rule="evenodd" d="M57 0V42.3149V48H15V12H45V36H27V24H33V30H39V18H21V42H51V6H9V54H57V60H3V0H57Z" fill="transparent"/>
//             </svg>
//            </div>
//            <div class="spiral" id="spiral3">
//              <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
//               <path fill-rule="evenodd" clip-rule="evenodd" d="M57 0V42.3149V48H15V12H45V36H27V24H33V30H39V18H21V42H51V6H9V54H57V60H3V0H57Z" fill="transparent"/>
//             </svg>
//            </div>
//            </div>



// #dna-logo{
//   position: relative;
//   top: 0;
//   left: 10px;
//   width: 120px;
//   height: 38px;
//   perspective: 100px;
//   transform: scale(1) rotate(0deg);
//   z-index: 1;
  
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   -webkit-animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
// 	        animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;


//   @include respond($breakpoint-mobile-l) {
//    transform: scale(0.8) rotate(0deg);
//     width: 100px;
//     height: 30px;
//   }

// }


// #dna-logo div{
//   position: relative;
//   width: 1px;
//   height: 30px; /* proporcional al nuevo tamaño */
//   margin: 0 3px;
  
//   background-color: $lines-color;
//   transform-style: preserve-3d;
//   animation: rotation 6s linear infinite;
  

// }

// #dna-logo div::before {
//   content: "";
//   position: absolute;
//   top: -6px;
//   left: -3px;
//   right: -3px;
//   height: 4px;
//   width: 4px;
  
//   background-color: $dots-color;
//   border-radius: 50%;
  

// }

// #dna-logo div::after {
//   content: "";
//   position: absolute;
//   bottom: -6px;
//   left: -3px;
//   right: -3px;
//   height: 4px;
//   width: 4px;
//   background-color: $dots-color;
//   border-radius: 50%;
  

// }

// <!-- <div class="lang-color-box"> -->

//               <!-- <div class="language-box">
//                 <p id="lang-en"><span id="radio-button"></span>English</p>
//                 <p id="lang-es"><span id="radio-button2"></span>Español</p>
//               </div> -->

//               <!-- <div class="line"></div> -->

//               <!-- <div class="color-box-text">

//                 <div class="color-box1">
//                   <div class="color1"></div>
//                   <div class="color2"></div>
//                 </div>

//                 <div class="color-box2">
//                   <div class="color3"></div>
//                   <div class="color4"></div>
//                 </div>

//                 <div class="text-ring">
//                   <svg viewBox="0 0 200 200" width="180" height="180">
//                     <defs>
//                       <path id="circlePath"
//                             d="M 100, 100
//                               m -65, 0
//                               a 65,65 0 1,1 130,0
//                               a 65,65 0 1,1 -130,0" />
//                     </defs>
//                     <text font-size="12" fill="#0a4a52" font-weight="bold">
//                       <textPath xlink:href="#circlePath" textLength="400">
//                         BACKGROUND • BACKGROUND • BACKGROUND •
//                       </textPath>
//                     </text>
//                   </svg>
//                 </div>

//               </div> -->

//           <!-- </div> -->

// <!-- <div href="" class="card" id="card1" type="button" aria-label="Go to Eris Chatbot project">
//                 <div class="title-mobile">
//                   <h2>ERIS BOT</h2>
//                   <h3>A University FAQ assistant</h3>
//                 </div>
//                 <div class="card-image">
//                   <div id="tag1"></div>
//                   <img src="/assets/img/universe.gif" alt="">
//                 </div>
//                 <div class="title-desktop">
//                   <h2>ERIS BOT</h2>
//                   <h3>A University FAQ assistant</h3>
//                   <p>Design & Development</p>
//                 </div>
//                 <div class="card-content">
//                   <h3>
//                     <strong>
//                         <i class="bi bi-clipboard-check"></i>
//                         <span data-i18n="SummaryTitle">Summary</span>
//                     </strong>
//                   </h3>
//                   <p data-i18n="erischatbotSummaryContent">
//                       ERIS is a university FAQ chatbot created as a full-scope design
//                       and development project. It combines brand identity, UI design,
//                       and front-end development to deliver an engaging and accessible
//                       experience for students. Inspired by the solar system, ERIS stands
//                       out with its minimalist orbit-themed interface, dynamic logo, and
//                       modern microinteractions.
//                   </p>
//                   <h3>
//                     <strong>
//                       <i class="bi bi-bullseye"></i>
//                       <span data-i18n="GoalTitle">Project goal:</span>
//                     </strong>
//                   </h3>
//                   <p data-i18n="erischatbotGoalContent">
//                       To build a complete digital product: from brand concept and visual
//                       identity to UI prototyping, accessibility, and live deployment.
//                       The aim was to provide students with an intuitive tool to find
//                       academic information while demonstrating advanced design systems
//                       and coding skills.
//                   </p>
//                   <h3>
//                     <strong>
//                       <i class="bi bi-cpu-fill"></i>
//                       <span data-i18n="TechTitle"> Technologies used:</span>
//                     </strong>
//                   </h3>
//                   <div id="icon-box">
//                       <img src="../../assets/icons/html-icon.svg" alt="HTML icon" />
//                       <img src="../../assets/icons/css-icon.svg" alt="CSS icon" />
//                       <img src="../../assets/icons/js-icon.svg" alt="JavaScript icon" />
//                       <img src="../../assets/icons/figma-icon.svg" alt="Figma icon" />
//                       <img src="../../assets/icons/react-icon.svg" alt="React icon" />
//                       <img
//                         src="../../assets/icons/tailwind-icon.svg"
//                         alt="Tailwind CSS icon"
//                       />
//                       <img src="../../assets/icons/vite-icon.svg" alt="Vite icon" />
//                   </div>
//                   <h3>
//                     <strong>
//                       <i class="bi bi-person-workspace"></i>
//                       <span data-i18n="RoleTitle"> My role:</span>
//                     </strong>
//                   </h3>
//                   <p data-i18n="erischatbotRoleContent">
//                       I led every stage of the project, including:
//                   </p>
//                   <p data-i18n="erischatbotRoleContent_a">
//                       Branding & Identity: Defined ERIS’ name, concept, logo, and
//                       solar-inspired design language.
//                   </p>
//                   <p data-i18n="erischatbotRoleContent_b">
//                       UI/UX Design: Crafted a clean, responsive interface ensuring
//                       clarity, focus, and intuitive navigation.
//                   </p>
//                   <p data-i18n="erischatbotRoleContent_c">
//                       Development: Built the app with React, Vite, Tailwind CSS, and
//                       JavaScript for interactive logic and chatbot responses.
//                   </p>
//                   <p data-i18n="erischatbotRoleContent_d">
//                       Accessibility Implementation: Ensured WCAG 2.1 AA compliance with
//                       keyboard navigation, semantic HTML, ARIA labels, and contrast
//                       guidelines.
//                   </p>
//                   <p data-i18n="erischatbotRoleContent_e">
//                       Deployment & Testing: Hosted on Vercel for rapid access, tested
//                       cross-browser and device responsiveness.
//                   </p>
//                   <a href="https://github.com/Ari-Dsgns/Eris-Chatbot" target="_blank">→ View source code GitHub</a>
//                   <a href="https://eris-chatbot.vercel.app/" target="_blank" class="try-me-button">→ LIVE DEMO</a>
//               </div>
//               </div> -->