

html, body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}






 #overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.897);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  z-index: 9999;
  display: none; /* Oculto por defecto */
  p{
    font-size: 1rem;
  }
  @include respond($breakpoint-mobile-l) {
    font-size: 1rem;
    p{
      font-size: 1rem;
    }
  }
}
.dots::after {
    content: '';
    animation: dots 1.5s steps(3, end) infinite;
}

.loader {
  border: 6px solid rgba(255, 255, 255, 0);
  border-top: 6px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 0px;
  margin-right: 20px;
}

 #size-overlay {
      position: fixed;
      inset: 0;
      background: rgba(0,0,0,0.9);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      padding: 2rem;
      font-size: 1.2rem;
      z-index: 9999;
      display: none; /* oculto por defecto */
}
 #size-overlay.visible {
      display: flex;
      animation: fadeIn 0.5s ease forwards;
}

.emoji {
      font-size: 2.5rem;
      display: inline-block;
      margin-bottom: 1rem;
      animation: spin 2s linear infinite;
}

.message {
      animation: bounce 2s ease-in-out infinite;
}
// .noise {
//   position: fixed;
//   z-index: 9999;
//   top: -300%;
//   left: -150%;
//   height: 600%;
//   width: 600%;

//   animation: grain 7s steps(10) infinite;
//   background-image: url('/assets/img/noise2.png');
//   background-size: 12.5rem;
//   background-repeat: repeat;
  
//   opacity: 0.5;
//   pointer-events: none;
// }
// .noise.clean {
//   display: none;
// }

// &::after {
//     content: "";
//     position: absolute;
//     inset: 0;
//     background-image: url('../../assets/img/ruido2.png');
//     background-size: 1200px ;
//     background-repeat: repeat;
    
//     animation: grain 10s steps(10) infinite;
//     opacity: 0.3; // oculto por defecto
//     transition: opacity 0.3s ease;
//     pointer-events: none; // para que no bloquee clics
//     z-index: -1; // queda debajo del contenido del botón
//   }



.main-container {
  
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  z-index: 3;
  overflow: hidden;
 
 

  
}



.container{
   position: relative;
  
  
  display: flex;
  width: 100%;
 
  height:100%;
  padding-right: 0em;
  padding-left: 0em;
  
  flex-direction: column;
  gap: 0px;
  overflow-y: auto;
  justify-content:center;
  align-items: center;
  align-content: center;
  border:none;
  background-color: $platinum;
  border-left: 0px rgba(255, 255, 255, 0.558) solid;
  @include respond($breakpoint-md) {
    border-left: none;
    padding-right: 0;
    padding-left: 0;
    
  }

  

 
}







