


.navbar{
  position: fixed;
  top: 0px;
  display: flex;
  
  justify-content: space-between;
  width: 100%;
  height: 80px;
  
  z-index: 999;
  animation: borderDraw 1s ease forwards;
  transition: 0.3s ease-in-out;

  
  
  background-color: #e0eae5c5;
  background-color: #f3f4f3;

  background-color:rgba(207, 219, 213, 0.637);
  background-color: $alabaster;
  background-color: #EEF0EB;
  background-color: $honneydew;
  background-color: $platinum;
  background-color: #e9e9e9;
  background-color: #f0f0f0;
  background-color: #f9fafbde;
  
  
  
  
  
  
  
  
  backdrop-filter: blur(10px);
  padding: 0 20px;
  
  @include respond($breakpoint-mobile-l) {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
 
  
  
}
.hide-navbar {
  top: -80px; /* mueve la barra fuera de pantalla, ajusta según su altura */
}
.navlinks-container{
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    
}

.nav-links{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: solid 0px white;
  width: auto;
  height: auto;
  z-index: 9999;
  
  a{
    text-decoration: none;
    color: $petrol;
    font-family: "inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    transition: 0.1s ease-in-out;
    padding: 4px 10px;



    &:hover{
    
    color: $miami;
    
    
  }
  }
  
  

}



.home-btn{
  text-decoration: none;
  font-family: "inter", sans-serif;
  font-family: "Brockmann", sans-serif;
  font-family: "Boldonse", system-ui;
  font-family: "Brockmann", sans-serif;
  font-family: "inter", sans-serif;
  background-color: transparent;
  padding: 0px;
  color: $miami;
  color: $petrol;
  
  

  

  
  position: relative;
  opacity: 1;
  border-radius: 25%;
  z-index: 9999;
  width:auto;
  align-self: center;
  text-align: center;
  border: none;
  font-size:20px;
  font-weight: 900;
  cursor: pointer;

  span{
    display: inline-block;
    
    font-size:16px;
    transform: scale(1, 1);

  }

  &.active{
    opacity: 1;
  }
  &:hover{
    
    color: $miami;
  }
  
  
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 6px;

  svg{
    display: none;
    transition: transform 0.4s ease-in-out;
  } 

  &:hover{
    svg{
      
      transform: rotateY(180deg);
      transition: transform 0.4s ease-in-out;
    }
  }

  
  
}





.language-box {
  
  display: flex;
  z-index: 9999;
  
  
  align-items: center;
  padding: 0px;
  
  
  
  border: 0px rgba(255, 255, 255, 0.853) solid;
  gap: 0px;
  z-index: 999;
  
  background-color: #f76b5edd;
  background-color: $blue;
  background-color: $light-blue;
  background-color:rgba(163, 163, 163, 0.781);
  border-radius: 0px;
  
  
  


  
  
}
#lang-en,
#lang-es {
  cursor: pointer;
  display: flex;
  border: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  
  color: white;
  align-items: center;
  padding: 6px;
  opacity: 0.5;
  transition: 0.1s ease-in-out;
  

  &:hover{
    opacity:1;
    color: white;
    outline: solid 2px $miami;
    background-color: rgb(128, 128, 128);
  }
  
  @include respond($breakpoint-mobile-l) {
    font-size: 14px;
    font-weight: 500;
    
  }
  
}
#lang-en.active,
#lang-es.active {
  color: $button-petrol;
  color: white;
  font-weight: 500;
  opacity: 1;
  background-color: $petrol;
  
  
}
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  position: relative;
  top: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;

  span {
    width: 30px;
    height: 2px;
    background-color: $miami;
    border-radius: 0;
    transition: 0.4s ease;
    transform-origin: center;
  }

  &.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg) scale(0.8);
    background-color: $petrol;
    
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg) scale(0.8);
    background-color: $petrol;
    
  }

  @include respond($breakpoint-sm) {
    display: flex;
  }

  @include respond($breakpoint-mobile-l) {
    top: 20px;
  }
}


/* Estado oculto por defecto en móvil */
@include respond($breakpoint-sm) {
  .navlinks-container {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e9e9e9;
    gap: 40px;
    padding: 20px;
    
    width: 100%;
    min-height: 100dvh;
    transition: transform .3s ease;
    transform: translateX(100%);
    box-shadow: -2px 2px 8px rgba(0, 0, 0, 0);
    z-index: 9999;
    border-left: none;
    

    @include respond($breakpoint-mobile-l) {
      top: 60px;
      height: 100dvh;
      

    }
    
  }

  .navlinks-container.open {
    transform: translateX(0);
    top: 80px;

    @include respond($breakpoint-mobile-l) {
      top: 60px;
    }
  }

  .nav-links {
    
    flex-direction: column;
    gap: 20px;
  }

  .language-box {
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
  }
}